<aside>
    <div class="profile-info">
        <div class="profile-img">
            
            @if (string.IsNullOrEmpty(ProfileImg))
            {
                <img src="https://siliconstorageaccount.blob.core.windows.net/profiles/avatar.svg" alt="@($"{FirstName} {LastName}")" />
            }
            else
            {
                <img src="@ProfileImg" alt="@($"{FirstName} {LastName}")" />
            }
            <form class="form-container" id="uploadForm" >
                <UploadProfileImage  />
             </form>
                        
        </div>

        <h5>@($"{FirstName} {LastName}")</h5>
        <p>@Email</p>
    </div>

    <nav>
        
        <NavLink class="@(IsActive("Account/Manage/Index") ? "btn-theme-s" : "btn-transparent")" href="Account/Manage/Index">
            <i class="fa-regular fa-gear"></i> <span>Account Details</span>
        </NavLink>
        <NavLink class="@(IsActive("Account/Manage/Security") ? "btn-theme-s" : "btn-transparent")" href="Account/Manage/Security">
            <i class="fa-regular fa-lock"></i> <span>Security</span>
        </NavLink>
        <NavLink class="@(IsActive("Account/Manage/Notification") ? "btn-theme-s" : "btn-transparent")" href="Account/Manage/Notification">
            <i class="fa-regular fa-bell"></i> <span>Notification</span>
        </NavLink>
        <NavLink class="@(IsActive("Account/Manage/UserChat") ? "btn-theme-s" : "btn-transparent")" href="Account/Manage/UserChat">
            <i class="fa-regular fa-messages"></i> <span>Messages</span>
        </NavLink>
        <NavLink class="@(IsActive("Account/Manage/SavedCourses") ? "btn-theme-s" : "btn-transparent")" href="Account/Manage/SavedCourses">
            <i class="fa-regular fa-bookmark"></i> <span>Saved Courses</span>
        </NavLink>
        <NavLink href="/Account/Manage/logout" Class="btn-transparent">
            <i class="fa-regular fa-right-from-bracket"></i> <span>Sign Out</span>
        </NavLink>

       
    </nav>
</aside>



@code {
    
    private string? currentUrl;

    [Parameter]
    public ApplicationUser UserInfo { get; set; }

    public string Email => UserInfo?.Email ?? string.Empty;
    public string FirstName => UserInfo?.UserProfile?.FistName ?? string.Empty;
    public string LastName => UserInfo?.UserProfile?.LastName ?? string.Empty;
    public string ProfileImg => UserInfo?.UserProfile?.ProfileImg ?? string.Empty;
       
    private bool IsActive(string urlSegment)
    {
        return NavigationManager.Uri.Contains(urlSegment, StringComparison.OrdinalIgnoreCase);
    }
    
   
}
